* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    width: 100%;
    font-family: 'Lato','arial', serif;
    font-weight: 300;
    word-spacing: 0.5px;
    letter-spacing: 0.5px;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    color: #1c1a1a;
	word-wrap: break-word;
    
}

head{
    font-size: 100%;
    text-decoration: none;
    margin-top: 1%;
    width: 100%;
    font-family: 'Lato','arial', serif;
    font-weight: 300;
    word-spacing: 0.5px;
    letter-spacing: 0.5px;
    color: #1c1a1a;
    
}

header{
	
	width: 90%;
	height: 200px;
	margin-top: 2%;
    margin: 2% auto 0% auto;
}
.logo{
    
    width: 100%;
    height: 100%;
}
.logo img{
    
    width: 100%;
    height: 100%;
}


/*--------------------nav bar----------------------*/
.topnav {
  overflow: hidden;
  background-color: #dd633e;
  width: 90%;
  margin: 0% auto 2% auto;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.content {
/*    padding: 16px;*/
    width: 90%;
    margin: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
/*---------------------end nav bar----------------------*/


h1{
    
    font-size: 110%;
    color: #e2331d;
    margin-bottom: 3%;
}

h2{
    
    font-size: 100%;
    color: #e2331d;
    margin-bottom: 1%;
}

h3{
    
    font-size: 100%;
    color: #1e8405;
    margin-bottom: 1%;
}


p{
    
    margin-bottom: 2%;
}

.read{
    
    height: 70px;
    width: 100%;
    display: block;
}

.read-more, .sign-now{
    
    width: 50%;
    height: 100%;
    float: left;
}

.pg-links{
    
    text-decoration: none;
    color: #0b9b11;
    font-size: 90%;
}

.pg-links:hover{ 
    color: #6c0e56;
    font-size: 100%;
}

.fb-link{
    
    height: 35px;
    width: 100%;
    margin: 3% 0;
    display: block;
}

.fb-img{
    
    height: 100%;
    width: 10%;
    float: left;
    margin-left: 20%;
}

.fb-img img{
    
    height: 100%;
    width: 100%;
}

.fb-likes{
    width: 50%;
    height: 100%;
    font-size: 80%;
    float: left;
}

.likes-count{
    
    height: 80%;
    padding-top: 1.5%;
    padding-left: 1%;
    width: 100%;
}

.footer{
    
    width: 90%;
    height: 50px;
    margin: 3% auto;
    background-color: #dd633e;
    text-align: center;
}

.footer-elements{
    
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    display: block
}

.foot-elements{
    
    text-decoration: none;
    font-size: 90%;
    padding: 2%;
    margin-top: 2%;
    border-right: solid thin;
    color: #ffffff;
}

.endorsements{
    
    width: 90%;
    margin: auto;
    height: auto;
}

.ex-endorsements{
    
    width: 90%;
    margin: auto;
    height: auto;
}


.endorse{
    
    width: 100%;
    display: block;
    height: 45%;
/*    border-bottom: solid thin;*/
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.ex-endorse{
    
    width: 100%;
    display: block;
    height: 70%;
/*    border-bottom: solid thin;*/
    padding-bottom: 2%;
    margin-bottom: 2%;
}


.endorse-no-pic{
    
    width: 100%;
    height: 50%;
/*    border-bottom: solid thin;*/
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.endorse-full-img{
    
    width: 100%;
    height: 80%;
    text-align: center;
/*    border-bottom: solid thin;*/
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.endorse-full-img img{
    
    width: 90%;
    height: 100%;
}

.endorse-img, .ex-endorse-img{
    
    width: 30%;
    float: left;
    height: 100%;
    text-align: center;
}

.endorse-img img{
    
    width: 80%;
    height: 100%;
}

.ex-endorse-img img{
    
    width: 80%;
    height: 60%;
    margin-top: 20%;
}
.endorse-statement, .ex-endorse-statement{
    
    width: 70%;
    float: left;
}

.endorse-statement p, .endorse-no-pic p, .ex-endorse-statement p, .inspiration-statement p, .inspire p, .ex-inspire p{
    
    font-style: italic;
    margin-top: 3%;
    font-size: 90%;
}


.inspirations{
    
    width: 100%;
    height: 100vh;
    margin: auto;
}
.inspiration{
    
    width: 100%;
    height: 30%;
    display: block;
    border-top: solid thin;
    padding-top: 2%;
    margin-top: 2%;
}
.inspiration-img{
    
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
}
.inspiration-img img{
    
    width: 80%;
    height: 100%;
}
.inspiration-statement{
    
    width: 75%;
    height: 100%;
    float: left;
}
.inspire{
    
    width: 100%;
    height: 25%;
    border-top: solid thin;
    padding-bottom: 2%;
    margin-top: 2%;
    
}

.ex-inspire{
    
    width: 100%;
    height: 35%;
    border-top: solid thin;
    padding-bottom: 2%;
    margin-top: 2%;
    
}


.petition, .petition2{
    
    width: 100%;
    height: 100vh;
}

.petition-address{
    margin-top: 7%;
    width: 100%;
    height: 10%;
}

.petition-add{
    
    float: right;
    width: 30%;
    height: auto;
}

.petition-form, .contact-form{
    
    width: 70%;
    height: auto;
    margin: auto;
}

label{
    
    width: 100%;
    padding: 1%;
/*    background-color: aqua;*/
/*    text-align: center;*/
    display: inline-block;
}

input[type=text], input[type=email], input[type=Password], textarea, select {
    width: 100%;
    padding: 1% 1%;
    margin: 1% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1%;
    box-sizing: border-box;
}



input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 0.5% 0.5%;
    margin: 1% 0;
    border: none;
    border-radius: 1%;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.tell-othrs{
    
    width: 90%;
    height: 30px;
    margin: 3%;
    text-align: center;
}


.link-to-us{
    
    width: 100%;
    height: auto;
}
.links{
    
    width: 80%;
    margin: auto;
}
.lnk-img{
    
    width: 90%;
    text-align: center;
    margin: auto;
}
