@media screen and (max-width: 1289px) {
.petition{
    
    width: 100%;
    height: 700px;
}
}
@media screen and (max-width: 1281px) {


.topnav a {

  font-size: 14px;
}

.content {
    padding: 16px;
    width: 90%;
    margin: auto;
}
    
.fb-img{
    
    margin-left: 10%;
}
    
.fb-likes{
    width: 60%;
}
 .read-more, .sign-now{
    
    font-size: 90%;
}
.endorse-img img{
    
    width: 80%;
    height: 80%;
}
    
    .inspirations{
    
    width: 100%;
    height: 800px;
    margin: auto;
}
}

@media screen and (max-width: 1132px) {
    
    .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
    
    .endorse{
    
    width: 100%;
    display: block;
    height: 45%;
/*    border-bottom: solid thin;*/
    padding-bottom: 2%;
    margin-bottom: 2%;
}

}


@media screen and (max-width: 1105px) {

    .fb-link{
    
    height: 35px;
    width: 100%;
    margin: 0% 0;
    display: block;
        border: solid thin;
        display: flex;
}
.fb-img{
    
    margin-left: 2%;
}
    
.fb-likes{
    width: 60%;
}
 
.endorse-img img{
    
    width: 80%;
    height: 80%;
}
    
    .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

 .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

    .endorsements{
    
    width: 90%;
    margin: auto;
    height: 600px;
/*        border-bottom: solid thin;*/
}
.footer{
    
    width: 90%;
    height: 50px;
    margin: 3% auto;
    background-color: #dd633e;
    text-align: center;
/*    display: none;*/
}

    .ex-endorsements{
    
    width: 90%;
    margin: auto;
    height: 900px;
/*        border-bottom: solid thin;*/
}

}



@media screen and (max-width: 1060px) {

    .fb-link{
    
    height: 35px;
    width: 100%;
    border: solid thin;
    display: flex;
}
.fb-img{
    
    margin-left: 2%;
}
    
.fb-likes{
    width: 60%;
    font-size: 60%;
}
 .read-more, .sign-now{
    
    font-size: 60%;
}
.endorse-img img{
    
    width: 80%;
    height: 80%;
}
    
    .ex-endorse-img img{
    
    width: 80%;
    height: 50%;
    margin-top: 20%;
}
}


@media screen and (max-width: 980px) {

    .ex-endorsements{
    
    width: 90%;
    margin: 0% auto;
    height: 1000px;
/*    border-bottom: solid thin;*/
}
    .inspiration-img img{
    
    width: 80%;
    height: 80%;
}
  p{
    
    font-size: 90%;
}
}

@media screen and (max-width: 962px) {

   .endorsements{
    
    width: 90%;
    margin: auto;
    height: 700px;
/*        border-bottom: solid thin;*/
}
.endorse-full-img{
    
    width: 100%;
    height: 70%;
    text-align: center;
/*    border-bottom: solid thin;*/
    margin: auto;
}

.endorse-full-img img{
    
    width: 90%;
    height: 100%;
}
}
@media screen and (max-width: 825px) {
    
    .petition{
        
        height: 700px;
    }
    
    .petition p, .petition-form, .petition-add{
        
        font-size: 90%;
    }
    
}

@media screen and (max-width: 800px) {
    
    header{
	
	height: 190px;
}
    
    p{
    
    font-size: 80%;
}
    
 .endorse{
    
    display: flex;
    padding-bottom: 1%;
    margin-bottom: 0%;
}

.ex-endorse{
    
    display: flex;
    padding-bottom: 1%;
    margin-bottom: 0%;
}
.endorse-statement p, .endorse-no-pic p, .ex-endorse-statement p{
    
    font-style: italic;
    margin-top: 3%;
    font-size: 80%;
}
.endorse-img img{
    
    width: 80%;
    height: 60%;
}
    
    .ex-endorse-img img{
    
    width: 80%;
    height: 30%;
    margin-top: 20%;
}
    
    .footer-elements{
    
    width: 100%;
}

.foot-elements{
    
    font-size: 70%;
    padding: 1%;
    margin-top: 2%;
}

    .ex-inspire p, .inspiration-statement p, .inspire p{
        
        
        font-size: 80%;
    }
    
.inspiration-img img{
    
    width: 80%;
    height: 80%;
}
    
}


@media screen and (max-width: 700px) {

    header{
	
	height: 180px;
}
    
    .endorse-full-img{
    
    width: 100%;
    height: 100%;
    text-align: center;
/*    border-bottom: solid thin;*/
    margin: auto;
}
    
/*
    p{
    
    font-size: 70%;
}
*/

.endorse-full-img img{
    
    width: 90%;
    height: 70%;
}
 .ex-endorsements{
    
    width: 100%;
    margin: 0% auto;
    height: 1300px;
/*     border-bottom: solid thin;*/
}
 .endorsements{
    
    width: 100%;
    margin: auto;
    height: 1000px;
/*        border-bottom: solid thin;*/
}
.endorse-statement p, .endorse-no-pic p, .ex-endorse-statement p{
    
    font-style: italic;
    margin-top: 3%;
    font-size: 90%;
}
    
    
.endorse-img img{
    
    width: 30%;
    height: 100%;
}
    
    .ex-endorse-img img{
    
    width: 30%;
    height: 50%;

}
    
.endorse{
    
    display: block;
    padding-bottom: 1%;
    margin-bottom: 0%;
    height: 50%;
}

.ex-endorse{
    
    display: block;
    padding-bottom: 1%;
    margin-bottom: 0%;
    height: 70%;
}
    
    .endorse-martha{
    
    display: block;
    padding-bottom: 1%;
    margin-bottom: 0%;
    height: 30%;
}
    
    .endorse-img, .ex-endorse-img{
    
    width: 100%;
    float: none;
    height: 40%;
    text-align: center;
    
}
    
.endorse-statement, .ex-endorse-statement{
    
    width: 100%;
    float: none;
}

}

@media screen and (max-width: 680px) {

    header{
	
	height: 150px;
}
 .ex-endorsements{
    
    width: 100%;
    margin: 0% auto;
    height: 1300px;
/*     border-bottom: solid thin;*/
}
 .endorsements{
    
    width: 100%;
    margin: auto;
    height: 1000px;
/*        border-bottom: solid thin;*/
}
.endorse-statement p, .endorse-no-pic p, .ex-endorse-statement p{
    
    font-style: italic;
    margin-top: 3%;
    font-size: 75%;
}
    
    
.endorse-img img{
    
    width: 30%;
    height: 100%;
}
    
    .ex-endorse-img img{
    
    width: 30%;
    height: 50%;

}
    
.endorse{
    
    display: block;
    padding-bottom: 1%;
    margin-bottom: 0%;
    height: 50%;
}

.ex-endorse{
    
    display: block;
    padding-bottom: 1%;
    margin-bottom: 0%;
    height: 70%;
}
    
    .endorse-martha{
    
    display: block;
    padding-bottom: 1%;
    margin-bottom: 0%;
    height: 30%;
}
    
    .endorse-img, .ex-endorse-img{
    
    width: 100%;
    float: none;
    height: 40%;
    text-align: center;
    
}
    
.endorse-statement, .ex-endorse-statement{
    
    width: 100%;
    float: none;
}

}
@media screen and (max-width: 642px) {
 .petition{
        
        height: 800px;
    }
}

@media screen and (max-width: 544px) {
 .petition{
        
        height: 900px;
    
    }
    
    .petition p, .petition-add{
        
        font-size: 70%;
    }
}

@media screen and (max-width: 510px) {

     header{
	
	height: 100px;
}
    
    .endorse-full-img{
    
    width: 80%;
    height: 70%;
    text-align: center;
/*    border-bottom: solid thin;*/
    margin: auto;
}

.endorse-full-img img{
    
    width: 100%;
    height: 100%;
}
.ex-endorsements{
    
    width: 100%;
    margin: 0% auto;
    height: 1100px;
/*     border-bottom: solid thin;*/
}
.endorse-statement p, .endorse-no-pic p, .ex-endorse-statement p{
    
    font-style: italic;
    margin-top: 3%;
    font-size: 77%;
}
    
    
.endorse-img img{
    
    width: 30%;
    height: 90%;
}
.fb-link{
    
    height: 35px;
    width: 100%;
    border: solid thin;
    display: flex;
}
.fb-img{
    
    margin-left: 0%;
    width: 20%;
}
    
.fb-likes{
    width: 70%;
    font-size: 50%;
}
    .read-more, .sign-now{
    
    font-size: 50%;
}
    
    .ex-inspire p, .inspiration-statement p, .inspire p{
        
        
        font-size: 70%;
    }
    
.inspiration-img img{
    
    width: 100%;
    height: 60%;
}
}

/*
@media screen and (max-width: 510px) {

.endorse-statement p, .endorse-no-pic p, .ex-endorse-statement p{
    
    font-style: italic;
    margin-top: 3%;
    font-size: 70%;
}
    
    
.fb-img{
    
    margin-left: 0%;
    width: 20%;
}
    
.fb-likes{
    width: 70%;
    font-size: 60%;
}
}
*/
@media screen and (max-width: 440px) {
    
      
    .petition-add{
    
    float: right;
    width: 40%;
    height: auto;
}
}
@media screen and (max-width: 427px) {
header{
	
	height: 110px;
}
    
    .endorse-full-img{
    
    width: 80%;
    height: 70%;
    text-align: center;
/*    border-bottom: solid thin;*/
   
}

.endorse-full-img img{
    
    width: 100%;
    height: 70%;
     margin: 15% auto;
}
.endorse-statement p, .endorse-no-pic p, .ex-endorse-statement p{
    
    font-style: italic;
    margin-top: 1%;
    font-size: 61%;
}
    
    
.fb-img{
    
    margin-left: 0%;
    width: 20%;
}
    
.fb-likes{
    width: 80%;
    font-size: 60%;
}
    
    .endorse-img img{
    
    width: 30%;
    height: 70%;
}
    .inspiration-img img{
    
    width: 100%;
    height: 40%;
}
  
}